{%extends 'core/base.html'%}
{%block title%} Welcome {%endblock%}
{%block content%}
     <div style="display: grid; max-width: 100%; grid-template-columns: 1fr 1fr; border-radius: 15px; background-image: url('media/styling/bg1.jpeg'); background-size: cover; margin:0; width: 100%; color: #fff; padding: 50px; text-align: left;">
        <div style="max-width: 100%; height: auto; border-radius: 8px;">
            <img src="media/styling/bg2.jpeg" alt="Car Image" style="max-width: 100%; height: auto; border-radius: 8px;">
        </div>
        <div style="padding: 20px;">
            <h2 style="font-size: 2em; margin-bottom: 10px;">Featured</h2>
            <p style="font-size: 1.2em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non feugiat justo. Nullam vel eros sit amet nulla commodo.</p>
            <p style="font-size: 1.2em;">Price: $XX,XXX</p>
            <button>View Details</button>
        </div>
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Fresh Deals</h2>
        <div class="grid grid-cols-3 gap-6">
<!--            sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5-->
            {% for item in items %}
                <div>
                    <a href="#">
                        <div>
                            <img src="{{ item.image.url }}"  class="rounded-t-xl">
                        </div>
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2-xl font-semibold">{{item.name}}</h2>
                            <p class="text-gray-500">Price: {{item.price}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
     <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Explore categories</h2>
        <div class="grid grid-cols-3 gap-6">

        </div>
     </div>
{%endblock%}
